<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petra</title>
    <meta name="keywords" content="old, country, world">
    <meta name="description" content="Petra originally known to its inhabitants as Raqmu, is a historical and archaeological city in southern Jordan. Petra lies on the slope of Jabal Al-Madbah in a ...">
    <link href="../css/index.css" rel="stylesheet"/>
  </head>
  <body>
    <main class="home">
      <section class="navbar">
          <nav>
            <ul>
                <li><a href="http://www.visitpetra.jo/Pages/viewpage.aspx?pageID=124">About</a></li>
                <li><a href="#section_footer">Contact</a></li>
                <li><a class="active" href="news.html">News</a></li>
                <li><a href="home.html">Home</a></li>
            </ul>
          </nav>
      </section>
      <section >
          <h1>Please give some information about you for getting more news :) </h1>
          <form action="" method="POST">
                <fieldset>
                    <legend>Personal information:</legend>
                    First name:<br>
                    <input type="text" name="firstname" placeholder="First Name">
                    <br>
                    Last name:<br>
                    <input type="text" name="lastname" placeholder="Last Name">
                    <br><br> 
                    Your car:<br> 
                    <select name="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="fiat">Fiat</option>
                        <option value="audi">Audi</option>
                    </select><br>
                    Sex:<br> 
                    <input type="radio" name="gender" value="male" > Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>
                    <input type="radio" name="gender" value="other"> Other <br> 
                    <input type="checkbox" name="agree" value="Bike"> I Agree That Petra is Awesome ;) <br>
                    <input type="submit" value="Submit">
                </fieldset>
          </form>
      </section>
    </main>
  </body>
</html>